:root {
    --w-icon-footer: 40px;
    --h-icon-footer: 40px;
    --w-img: 100%;
    --h-img: 100%;
}

body {
    
    height: 95vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    margin:0 auto;
    padding:0;
    width: 1440px;
}

h2 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: white;
}

p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20.5px;
    color: white;
}
.main-container{
    width:95%;
    display: grid;
    grid-template-columns: 20% 25% 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5%;
    margin: 0 auto;
}

.title-container {
    grid-column: 1/span 4;
    grid-row: 1/span 2;
    height: 100%;
}

.title-container img {
    margin-top: 3%;
}

.img-container {
    grid-column: 1/span 2;
    grid-row: 2/span 4;
}

.img {
    height: var(--h-img);
    width: var(--w-img);
    background-size: var(--w-img) var(--h-img);
    background-image: url("../images/illustration-mockups.svg");
    background-repeat: no-repeat;
}

.register {
    grid-column: 3/4 span;
    grid-row: 2/ 5 span;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttom {
    width: 170px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.6);
}

.register-buttom {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: rgb(124, 109, 178);
}

footer {
    display: flex;
    justify-content: flex-end;
    grid-column: 1/span 6;
}

footer div {
    display: flex;
    justify-content: space-between;
    width: 12%;
}

footer .footer-icon {
    width: var(--w-icon-footer);
    height: var(--h-icon-footer);
    background-size: var(--w-icon-footer) var(--h-icon-footer);
    background-repeat: no-repeat;
}

footer .facebook {
    background-image: url("../images/logo-facebook.png");
}

footer .twitter {
    background-image: url("../images/logo-twitter.png");
}

footer .instagram {
    background-image: url("../images/logo-instagram.png");
}